body {
  background: #004561;
  font-family: 'Akaya Kanadaka', cursive;
}

.titulo {
  color: #c6e7e7;
}

.timer {
  color: #c6e7e7;
  text-align: center;
  width: 20rem;
  height: 20rem;
  border: 5px solid #c6e7e7;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 150%;
}

.btn {
  padding: 0px;
}

.fa-play,
.fa-redo-alt {
  color: #c6e7e7;
  border: 2px;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: #c6e7e7;
  border: 2px solid;
}
